.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template:
    'header header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color:#FFFFFF;
  padding: 10px;
  color: #FFFFFF;
}

.grid-container > div {
  background-color: #006575;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}