#flights-list > .flight-listing {
    margin-bottom: 10px;
    display: block;
}
.flight-listing > div {
        float: left;
        color: black;
        text-align: center;
        height: 75px;
        width:33%;
        text-decoration: none;
}

footer {
    display: block;
    font-size: small;
    text-align: center;
    color: white;
  }